/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
}

/* MAIN */
main {
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    font-size: 2rem;
    background-color: violet;
}

h1 {
    text-align: center;
    margin: 1em 0 1.5em;

    /* DEBUG */
    background-color: blue;
}

p {
    text-align: center;
    margin-bottom: 1em;

    /* DEBUG */
    background-color: aquamarine;
}

/* Cards Grid */
.grid {
    width: 100%;
    float: left;

    /* DEBUG */
    background-color: orange; 
}

.card {
    width: calc(100% / 3 - ((1em / 3) * 2));
    float: left;

    margin-right: 1em;
    margin-bottom: 1em;

    /* DEBUG */
    background-color: cornflowerblue;
    border: 1px solid black;
}

.card:nth-of-type(3n) {
    margin-right: 0;
}

.card-image {
    float: left;
    
    /* DEBUG */
    width: 100px;
    height: 100px;
    background-color: azure;
}

.card-data {
    float: left;
    height: 100px;
    padding: 0.5em;

    /* DEBUG */
    background-color: black;
    color: white;
    font-size: 1.5rem;
}