/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: 'Fredoka', sans-serif;
}

/* UTILITY */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* MAIN */
main {
    width: 80%;
    margin: 0 auto;

    font-size: 2rem;
}

h1 {
    color: #e53170;

    text-align: center;
    margin: 0.9em 0 1.4em;
}

p {
    color: #0f0e17;
    font-size: 1.7rem;
    font-weight: 400;

    text-align: center;
    margin-bottom: 1.9em;
}

/* Cards Grid */
.grid {
    width: 100%;
}

.card {
    width: calc(100% / 3 - ((1.7em / 3) * 2));
    height: 100px;
    
    margin-right: 1.7em;
    margin-bottom: 2.5em;

    box-shadow: 0 0 0.3em 0em;

    float: left;
}

.card:nth-of-type(3n) {
    margin-right: 0;
}

/* Card Image */
.card img {
    height: 100%;
    
    margin-right: 1em;

    float: left;
}

/* Card Text */
.card-data {
    height: 100%;
    line-height: 100%;

    padding: 0.5em;

    color: #ffffff;
    background-color: #0f0e17;
}

.card-name {
    height: calc(100% / 3);
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

.card-role {
    height: calc(100% / 3);
    font-size: 1.7rem;
}

.card-email {
    height: calc(100% / 3);
    font-size: 1.6rem;
    color: #4dccf2;
}